body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #5a6378;
  max-width: 500px;
  margin: auto;
}

h2 {
  color: white;
  font-weight: 100;
}

.js-input {
  padding: 0.5rem;
  border: 3px solid red;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;;
}

.js-send-btn {
  padding: 0.5rem;
  border: 3px solid red;
  border-radius: 0 3px 3px 0; 
  font-size: 1rem;;
  background: red;
}

.elm-input {
  padding: 0.5rem;
  border: 3px solid green;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;;
}

.elm-send-btn {
  padding: 0.5rem;
  border: 3px solid green;
  border-radius: 0 3px 3px 0; 
  font-size: 1rem;;
  background: green;
}

.chat-messages {
  background-color: white;
  margin-top: 1rem;
  border-radius: 3px;
}

.chat-message {
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
}
